#-------------------------------
# General Site Settings
# cd /Users/addisonlin/Documents/priam-jekyll-theme-v1.0/Priam
#bundle exec jekyll serve

#. cmds: bundle exec jekyll serve

title: "My Personal Website Addison"
description: "Welcome to my personal website where I share my thoughts, projects, and experiences."
baseurl: ""  # the subpath of your site, e.g. /blog
url: "https://17addisonlin.github.io"  # the base hostname & protocol for your site, e.g. http://example.com



#-------------------------------
# Build Settings
markdown: kramdown
permalink: /:title
plugins:
  - jekyll-paginate
  - jekyll-sitemap

paginate: 4
paginate_path: "/blog/page/:num"


#-------------------------------
# Collections
collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /blog/:slug
  projects:
    output: true
    permalink: /projects/:slug
  videos:
    output: true
    permalink: /videos/:slug
  gallery:
    output: true
    permalink: /gallery/:slug

# Pages Path
defaults:
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
      type: "videos"
    values:
      layout: "video"
  - scope:
      path: ""
      type: "gallery"
    values:
      layout: "gallery"

sass:
  sass_dir: _sass
  style: compressed
